* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #413c5f;
    font-family: 'Lato', sans-serif;
}

.container {
    height: 100vh;
}

.calculator,
.timebox {
    width: 350px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
}

.display {
    height: 150px;
    margin-bottom: 40px;
}

.display p#result {
    font-size: 52px;
    color: #7877FC;
}

input {
    color: #413c5fe3 !important;
}

button {
    background-color: #7877FC !important;
    border: none !important;
    letter-spacing: 0.3px;
}

.timebox .display {
    height: 80px;
}